* {
    --primary-health: #360CAE;
    --primary-sales: #BF0834;
    --primary-financial: #7C570F;
    --primary-productivity: #0B830F;
    
    --accent-health: #C3CAFC;
    --accent-sales: #FBCCD4;
    --accent-financial: #FFF7B3;
    --accent-productivity: #DDF18A;
    
    --accent-assertive: #DDF18A;
    --accent-compassionate: #BCE1FC;
    --accent-curious: #FFF7B3;
    --accent-excited: #FFB799;
    --accent-optimistic: #C3CAFC;
    --accent-playful: #FBCCD4;
    
    --page-bg-health: #F0F1FA;
    --page-bg-financial: #FDFCF5;
    --page-bg-sales: #FFF7F5;
    --page-bg-productivity: #F9FDF7;
}

/*agent dependent color assignments*/

/*wellness coach*/

.health-coach-bg {
    background-color: var(--page-bg-health);
}

.health-coach-bg .card-ornaments .border-end,
.health-coach-bg .card-ornaments .border-side,
.health-coach-bg .sample-ornaments .border-end,
.health-coach-bg .sample-ornaments .border-end .border-top,
.health-coach-bg .sample-ornaments .border-side,
.health-coach-bg .error .msgbox-outer,
.health-coach-bg .error .msgbox-outer .msgbox-inner,
.health-coach-bg .radial-interface .axes .axis,
.health-coach-bg .radial-interface .axes .axis .trait-icon,
.health-coach-bg .radial-interface .axes .axis .handle,
.health-coach-bg .radial-interface .axes .axis .handle .grab-handle {
    border-color: var(--primary-health);
    stroke: var(--primary-health);
    fill: var(--primary-health);
}

.health-coach-bg .card-ornaments .corner,
.health-coach-bg .sample-ornaments .corner,
.health-coach-bg .error .msgbox-outer .msgbox-inner .end-ornament .pip,
.health-coach-bg .radial-interface .divider-axes .axis:after,
.health-coach-bg .divider-axes .axis .pip, 
.health-coach-bg .axes .axis .handle .grab-handle:before,
.health-coach-bg .axes .axis .handle .grab-handle:after,
.health-coach-bg .axes .axis .handle .grab-handle .inner {
    background-color: var(--primary-health);
}

.health-coach-bg .radial-interface .divider-axes .axis {
    background: linear-gradient(
        #ffffff00 0%, #ffffff00 3%,
        var(--primary-health) 3%, var(--primary-health) 22%,
        #ffffff00 22%, #ffffff00 28%,
        var(--primary-health) 28%, var(--primary-health) 97%,
        #ffffff00 97%
    );
}

.card#Health .traits-block,
.health-coach-bg .card .toolbar .button.done,
.health-coach-bg .conversation-sample .block-title,
.health-coach-bg .error .msgbox-outer .msgbox-inner .msgbox-content,
.health-coach-bg .next-button,
.health-coach-bg .sample-ornaments .trait-icon {
    color: var(--primary-health);
    stroke: var(--primary-health);
    fill: var(--primary-health);
}

.card#Health .card-backgrounds {
    background: radial-gradient(circle at 60% 15%, var(--accent-health) 0%,  var(--accent-health) 35%, #ffffff00 35%);
}

.full-page-gradients.health {
    background: radial-gradient(circle at 60% 35%, var(--accent-health) 0%,  var(--accent-health) 35%, #ffffff00 35%);
}

.health-coach-bg .error .msgbox-outer {
    background-color: var(--page-bg-health);
}

/*financial adviser*/

.financial-adviser-bg {
    background-color: var(--page-bg-financial);
}

.financial-adviser-bg .card-ornaments .border-end,
.financial-adviser-bg .card-ornaments .border-side,
.financial-adviser-bg .sample-ornaments .border-end,
.financial-adviser-bg .sample-ornaments .border-end .border-top,
.financial-adviser-bg .sample-ornaments .border-side,
.financial-adviser-bg .error .msgbox-outer,
.financial-adviser-bg .error .msgbox-outer .msgbox-inner,
.financial-adviser-bg .radial-interface .axes .axis,
.financial-adviser-bg .radial-interface .axes .axis .trait-icon,
.financial-adviser-bg .radial-interface .axes .axis .handle,
.financial-adviser-bg .radial-interface .axes .axis .handle .grab-handle {
    border-color: var(--primary-financial);
    stroke: var(--primary-financial);
    fill: var(--primary-financial);
}

.financial-adviser-bg .card-ornaments .corner,
.financial-adviser-bg .sample-ornaments .corner,
.financial-adviser-bg .error .msgbox-outer .msgbox-inner .end-ornament .pip,
.financial-adviser-bg .radial-interface .divider-axes .axis:after,
.financial-adviser-bg .divider-axes .axis .pip,
.financial-adviser-bg .axes .axis .handle .grab-handle:before,
.financial-adviser-bg .axes .axis .handle .grab-handle:after,
.financial-adviser-bg .axes .axis .handle .grab-handle .inner {
    background-color: var(--primary-financial);
}

.financial-adviser-bg .radial-interface .divider-axes .axis {
    background: linear-gradient(
        #ffffff00 0%, #ffffff00 3%,
        var(--primary-financial) 3%, var(--primary-financial) 22%,
        #ffffff00 22%, #ffffff00 28%,
        var(--primary-financial) 28%, var(--primary-financial) 97%,
        #ffffff00 97%
    );
}

.card#Financial .traits-block,
.financial-adviser-bg .card .toolbar .button.done,
.financial-adviser-bg .conversation-sample .block-title,
.financial-adviser-bg .error .msgbox-outer .msgbox-inner .msgbox-content,
.financial-adviser-bg .next-button,
.financial-adviser-bg .sample-ornaments .trait-icon {
    color: var(--primary-financial);
    stroke: var(--primary-financial);
    fill: var(--primary-financial);
}

.card#Financial .card-backgrounds {
    background: radial-gradient(circle at 60% 15%, var(--accent-financial) 0%,  var(--accent-financial) 35%, #ffffff00 35%);
}

.full-page-gradients.financial {
    background: radial-gradient(circle at 60% 35%, var(--accent-financial) 0%,  var(--accent-financial) 35%, #ffffff00 35%);
}

.financial-adviser-bg .error .msgbox-outer {
    background-color: var(--page-bg-financial);
}

/*sales rep*/

.sales-representative-bg {
    background-color: var(--page-bg-sales);
}

.sales-representative-bg .card-ornaments .border-end,
.sales-representative-bg .card-ornaments .border-side,
.sales-representative-bg .sample-ornaments .border-end,
.sales-representative-bg .sample-ornaments .border-end .border-top,
.sales-representative-bg .sample-ornaments .border-side,
.sales-representative-bg .error .msgbox-outer,
.sales-representative-bg .error .msgbox-outer .msgbox-inner,
.sales-representative-bg .radial-interface .axes .axis,
.sales-representative-bg .radial-interface .axes .axis .trait-icon,
.sales-representative-bg .radial-interface .axes .axis .handle,
.sales-representative-bg .radial-interface .axes .axis .handle .grab-handle {
    border-color: var(--primary-sales);
    stroke: var(--primary-sales);
    fill: var(--primary-sales);
}

.sales-representative-bg .card-ornaments .corner,
.sales-representative-bg .sample-ornaments .corner,
.sales-representative-bg .error .msgbox-outer .msgbox-inner .end-ornament .pip,
.sales-representative-bg .radial-interface .divider-axes .axis:after,
.sales-representative-bg .divider-axes .axis .pip,
.sales-representative-bg .axes .axis .handle .grab-handle:before,
.sales-representative-bg .axes .axis .handle .grab-handle:after,
.sales-representative-bg .axes .axis .handle .grab-handle .inner {
    background-color: var(--primary-sales);
}

.sales-representative-bg .radial-interface .divider-axes .axis {
    background: linear-gradient(
        #ffffff00 0%, #ffffff00 3%,
        var(--primary-sales) 3%, var(--primary-sales) 22%,
        #ffffff00 22%, #ffffff00 28%,
        var(--primary-sales) 28%, var(--primary-sales) 97%,
        #ffffff00 97%
    );
}

.card#Sales .traits-block,
.sales-representative-bg .card .toolbar .button.done,
.sales-representative-bg .conversation-sample .block-title,
.sales-representative-bg .error .msgbox-outer .msgbox-inner .msgbox-content,
.sales-representative-bg .next-button,
.sales-representative-bg .sample-ornaments .trait-icon {
    color: var(--primary-sales);
    stroke: var(--primary-sales);
    fill: var(--primary-sales);
}

.card#Sales .card-backgrounds {
    background: radial-gradient(circle at 60% 15%, var(--accent-sales) 0%,  var(--accent-sales) 35%, #ffffff00 35%);
}

.full-page-gradients.sales {
    background: radial-gradient(circle at 60% 35%, var(--accent-sales) 0%,  var(--accent-sales) 35%, #ffffff00 35%);
}

.sales-representative-bg .error .msgbox-outer {
    background-color: var(--page-bg-sales);
}

/*productivity pardner*/

.productivity-partner-bg {
    background-color: var(--page-bg-productivity);
}

.productivity-partner-bg .card-ornaments .border-end,
.productivity-partner-bg .card-ornaments .border-side,
.productivity-partner-bg .sample-ornaments .border-end,
.productivity-partner-bg .sample-ornaments .border-end .border-top,
.productivity-partner-bg .sample-ornaments .border-side,
.productivity-partner-bg .error .msgbox-outer,
.productivity-partner-bg .error .msgbox-outer .msgbox-inner,
.productivity-partner-bg .radial-interface .axes .axis,
.productivity-partner-bg .radial-interface .axes .axis .trait-icon,
.productivity-partner-bg .radial-interface .axes .axis .handle,
.productivity-partner-bg .radial-interface .axes .axis .handle .grab-handle {
    border-color: var(--primary-productivity);
    stroke: var(--primary-productivity);
    fill: var(--primary-productivity);
}

.productivity-partner-bg .card-ornaments .corner,
.productivity-partner-bg .sample-ornaments .corner,
.productivity-partner-bg .error .msgbox-outer .msgbox-inner .end-ornament .pip,
.productivity-partner-bg .radial-interface .divider-axes .axis:after,
.productivity-partner-bg .divider-axes .axis .pip,
.productivity-partner-bg .axes .axis .handle .grab-handle:before,
.productivity-partner-bg .axes .axis .handle .grab-handle:after,
.productivity-partner-bg .axes .axis .handle .grab-handle .inner {
    background-color: var(--primary-productivity);
}

.productivity-partner-bg .radial-interface .divider-axes .axis {
    background: linear-gradient(
        #ffffff00 0%, #ffffff00 3%,
        var(--primary-productivity) 3%, var(--primary-productivity) 22%,
        #ffffff00 22%, #ffffff00 28%,
        var(--primary-productivity) 28%, var(--primary-productivity) 97%,
        #ffffff00 97%
    );
}

.card#Productivity .traits-block,
.productivity-partner-bg .card .toolbar .button.done,
.productivity-partner-bg .conversation-sample .block-title,
.productivity-partner-bg .error .msgbox-outer .msgbox-inner .msgbox-content,
.productivity-partner-bg .next-button,
.productivity-partner-bg .sample-ornaments .trait-icon {
    color: var(--primary-productivity);
    stroke: var(--primary-productivity);
    fill: var(--primary-productivity);
}

.card#Productivity .card-backgrounds {
    background: radial-gradient(circle at 60% 15%, var(--accent-productivity) 0%,  var(--accent-productivity) 35%, #ffffff00 35%);
}

.full-page-gradients.productivity {
    background: radial-gradient(circle at 60% 35%, var(--accent-productivity) 0%,  var(--accent-productivity) 35%, #ffffff00 35%);
}

.productivity-partner-bg .error .msgbox-outer {
    background-color: var(--page-bg-productivity);
}

/*keyword dependent color assignments*/

/*--accent-assertive*/
/*--accent-compassionate*/
/*--accent-curious*/
/*--accent-excited*/
/*--accent-optimistic*/
/*--accent-playful*/

.card-backgrounds .assertive {
    background: radial-gradient(circle at 50% 50%, var(--accent-assertive) 0%, var(--accent-assertive) 25%, #ffffff00 25%);
}

.card-backgrounds .compassionate {
    background: radial-gradient(circle at 50% 50%, var(--accent-compassionate) 0%, var(--accent-compassionate) 25%, #ffffff00 25%);
}

.card-backgrounds .curious {
    background: radial-gradient(circle at 50% 50%, var(--accent-curious) 0%, var(--accent-curious) 25%, #ffffff00 25%);
}

.card-backgrounds .excited {
    background: radial-gradient(circle at 50% 50%, var(--accent-excited) 0%, var(--accent-excited) 25%, #ffffff00 25%);
}

.card-backgrounds .optimistic {
    background: radial-gradient(circle at 50% 50%, var(--accent-optimistic) 0%, var(--accent-optimistic) 25%, #ffffff00 25%);
}

.card-backgrounds .playful {
    background: radial-gradient(circle at 50% 50%, var(--accent-playful) 0%, var(--accent-playful) 25%, #ffffff00 25%);
}