.page.four {
    align-items: start;
}

.page.four .page-toggle-control {
    width: calc(100% - 1.5em);
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C3CAFC;
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
}

.page.four .page-toggle-control .button {
    display: flex;
    gap: 0.25em;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.75em 1em;
    border-radius: 0.35em;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    stroke: #000000;
}

.page.four .page-toggle-control .button:hover {
}

.page.four .page-toggle-control .button.selected {
    background-color: #000000;
    color: #ffffff;
    stroke: #ffffff;
}

.page.four .conversation-interface {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    max-height: calc(100% - 8em);
}

.page.four .conversation-interface .message-scroll-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
/*    flex-shrink: 2;*/
}

.page.four .conversation-interface .message-scroll-area .message {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1em;
}

.page.four .conversation-interface .message-scroll-area .message .avatar-image {
    padding: 0.75em;
    border-radius: 50%;
    background-color: #EAEAF9;
    align-items: center;
    justify-content: center;
}

.page.four .conversation-interface .message-scroll-area .message .message-content {
    font-size: 0.75em;
    font-weight: 500;
}

.page.four .conversation-interface .input-area {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.page.four .conversation-interface .input-area .share-floater {
    position: absolute;
    top: -50%;
    right: 0;
    max-width: 4em;
    padding: 1em 1.5em;
    box-shadow: 2px 2px 2em #00000055;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 500;
    justify-content: center;
    border-radius: 0.5em;
    border: 1px solid #000000;
    background-color: #EAEAF9;
}

.page.four .conversation-interface .input-area .preselected-input-messages {
    display: grid;
    width: 100%;
    grid-gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.page.four .conversation-interface .input-area .preselected-input-messages .message {
/*    background-color: #C3CAFC;*/
    border: 1px solid #dddddd;
    border-radius: 0.25em;
    padding: 0.75em;
    font-size: 0.75em;
}

.page.four .conversation-interface .input-area .custom-input-field {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEAF9;
    padding: 0.5em;
    border-radius: 0.25em;
}

.page.four .conversation-interface .input-area .custom-input-field textarea {
    background: none;
    width: 100%;
    border: none;
    outline: none;
}

.page.four .conversation-interface .input-area .custom-input-field .send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #360CAE;
    padding: 0.5em;
    border-radius: 0.5em;
}