body {
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    overflow: hidden;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

.health-coach-bg {
    background-color: #F0F1FA;
}

.financial-adviser-bg {
    background-color: #FDFCF5;
}

.sales-representative-bg {
    background-color: #FFF7F5;
}

.productivity-partner-bg {
    background-color: #F9FDF7;
}

.page {
    position: relative;
/*    max-width: 500px;*/
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    height: calc(100dvh - 4em);
    opacity: 1;
    translate: 0 0;
    visibility: unset;
    transition: translate 0.5s 0.5s ease-out,
                opacity 0.25s 0.5s ease-out,
                visibility 0s 0.5s,
                position 0s 0.5s;
}

.page.landing .outlined {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    border: 1px solid #000000;
    padding: 1em;
}

.page.landing .outlined .header {
    gap: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.page.landing .outlined .triangles {
    flex-grow: 1;
}

.page.landing .footer img {
    padding-top: 1em;
}

.page.hidden {
    position: fixed;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    translate: 0 50dvh;
    transition: translate 0.5s ease-out,
                opacity 0.25s ease-out,
                visibility 0s 0.5s,
                position 0s 0.5s;
}

.page .header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-height: 100dvh;
    margin-top: 0;
    transition: max-height 0.25s, margin-top 0.5s, opacity 0.5s;
}

.page .header.minimized {
    margin-top: -1em;
    max-height: 0;
    opacity: 0;
}

.page .page-title {
    color: #333333;
    font-family: "DM Serif Display", serif;
    font-size: 2em;
    font-weight: 400;
    /* font-style: italic; */
}

.page .subtitle {
    font-size: 1em;
    font-weight: 400;
}

.page-two-content {
    width: 100%;
    height: 100%;
    flex-grow: 2;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

/*.preview-block {*/
/*    position: relative;*/
/*    display: flex;*/
/*    padding-bottom: 1em;*/
/*    flex-grow: 2;*/
/*    border-bottom: 1px solid #aaaaaa;*/
/*}*/

.page .footer {
    width: 100%;
    max-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    transition: max-height 0.25s, margin-bottom 0.5s, opacity 0.5s;
}

.page .footer.minimized {
    max-height: 0;
    margin-bottom: -1.5em;
    opacity: 0;
}

.page .footer input {
    max-height: 100dvh;
    transition: max-height 0.25s, margin-bottom 0.5s, opacity 0.25s, transform 0.5s;

}

.page .footer.minimized input {
    max-height: 0;
    transform: scaleY(0);
}

.page .footer .conversation-sample .block-title {
    font-family: "DM Serif Display", serif;
}

input.next-button {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    outline: none;
    border: 1px solid #777777;
    border-radius: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-family: "DM Serif Display", serif;
    font-size: 1em;
    cursor: pointer;
    z-index: 100;
}

input.next-button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.page.three {
    align-items: center;
    justify-content: center;
}

.page.three .page-title {
    text-align: center;
}

.page.three .shape-avatar-preview {
/*    flex-grow: 1;*/
}

.page.three .parameters-block {
    border-top: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
/*    gap: 0.5em;*/
    width: 50%;
    padding-top: 2em;
}

.page.three .parameters-block .trait {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85em;
    font-weight: 500;
    opacity: 0;
    line-height: 2em;
}

.page.three .parameters-block .trait:not(.selected) {
    height: 0;
}

.page.three .parameters-block .trait.selected {
    opacity: 1;
    transition: opacity 0.5s;
}

.page.three .parameters-block .trait.selected.first-visible {
    transition-delay: 1s;
}

.page.three .parameters-block .trait.selected.second-visible {
    transition-delay: 1.75s;
}

.page.three .parameters-block .trait.selected.third-visible {
    transition-delay: 2.5s;
}

.page.three .parameters-block span {
    display: inline-block;
    text-transform: uppercase;
}

.page.three .parameters-block span.percentage::after {
    content: "%"
}

@media screen and (max-width: 600px) {
 
    .page .page-title {
        font-size: 1.5em;
    }

    .page .subtitle {
        font-size: 0.75em;
    }
    
}

@media screen and (max-height: 400px)  {

    .page .page-title {
        font-size: 1.5em;
    }
    .page .subtitle {
        font-size: 0.5em;
    }
    
}

@media screen and (min-width: 500px)  {

    .screen {
        justify-content: end;
    }

    .page {
        width: calc(100% - 8em);
        /* height: unset; */
        align-items: start;
        padding: 4em;
    }
    
    .page .footer {
        width: 100%;
        justify-content: end;
    }

    .page-two-content {
        width: unset;
        flex-direction: row;
        align-items: center;
        gap: 10%;
    }

    .page-two-content .preview-block {
        align-items: end;
        min-width: 25dvw;
        flex-shrink: 1;
    }
    .page-two-content .polygon-preview {

    }

}