body {
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    overflow: hidden;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-coach-bg {
    background-color: #F0F1FA;
}

.page {
    max-width: 600px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    height: calc(100dvh - 4em);
}

.page.hidden {
    pointer-events: none;
}

.page .page-title {
    color: #333333;
    font-family: "DM Serif Display", serif;
    font-size: 2.25em;
    font-weight: 400;
    font-style: italic;
}

.page .subtitle {
    font-size: 1em;
    font-weight: 200;
}

.refine-interface {
    background: radial-gradient(circle at 50%, rgba(184, 193, 244, 0) 10%, rgba(211, 204, 255, 0.25) 30%, rgba(184, 193, 244, 0) 50%);
    flex-grow: 2;
    margin: 0;
    padding: 0;
    overflow: none;
    touch-action: manipulation;
}

.refine-interface canvas#gui {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.refine-interface .axis-label {
    color: rgba(27, 11, 40, 0.25);
    position: absolute;
    font-weight: 400;
    font-size: .75em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    translate: -50% -50%;
    /* border: 1px solid #E3D2FF; */
    transition: color 0.25s;
    cursor: pointer;
}

.refine-interface .axis-label.left {
    translate: -25% -50%;
}

.refine-interface .axis-label.right {
    translate: -75% -50%;
}

.refine-interface .axis-label.top {
    transform: translateY(-50%);
}

.refine-interface .axis-label.bottom {
    transform: translateY(50%);
}

.refine-interface .axis-label.active {
    color: rgba(27, 11, 40, 1);
}

.refine-interface .handle-highlight {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    background-color: #281696;
    outline: 10px solid #a9b4ffaa;
    border-radius: 20px;
    translate: -50% -50%;
    opacity: 0;
    scale: 0;
    transition: opacity 0.25s, scale 0.25s;
}

.refine-interface .handle-highlight.active {
    opacity: 1;
    scale: 1;
}

.page .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.next-button {
    background-color: rgba(255, 255, 255, 0);
    color: #333333;
    outline: none;
    border: 1px solid #333333;
    padding: 0.5em 2em;
    font-family: "DM Serif Display", serif;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 100;
}

input.next-button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px)  {
 
    .page .page-title {
        font-size: 2em;
    }

    .page .subtitle {
        font-size: 1em;
    }
    
}