.page.share {
    width: 100%;
    height: calc(100% - 3em);
    max-height: 100dvh;
    max-width: 100dvw;
    padding: 0;
    gap: 2em;
    margin-top: 1em;
}

.page.share .page-title {
    text-align: center;
/*    margin-top: 1em;*/
}

.page.share .card {
    width: calc(100% - 4em);
    padding: 0;
    scale: unset;
    margin: unset;
    flex-shrink: 1;
    justify-content: center;
    transition: transform 1s;
}

.page.share .card.flipped {
    transform: perspective(50cm) rotateY(180deg);
}

.page.share .card.flipped .card-content {
    scale: -1 1;
}

.page.share .card .card-content {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    transition: scale 0s 0.25s;
}

.card.flipped .card-content .quote {
    opacity: 1;
}

.page.share .card:not(.flipped) .card-content .quote {
    opacity: 0;
}

.page.share .card .card-content .quote {
    transition: opacity 0s 0.25s;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    translate: -50% -50%;
    text-align: center;
}

.page.share .card .card-content .quote .date {
    font-size: 0.75em;
    font-weight: 500;
}
.page.share .card .card-content .quote p {
    margin: 0;
}

.page.share .card .card-content .quote p span#agent-quote {
    font-family: "DM Serif Display", serif;
    font-size: 1.5em;
}

.page.share .card .card-content .quote p span#quote-attribution {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75em;
}

.page.share .card .card-content .quote p span#agent-quote::before {
    content: "“";
}

.page.share .card .card-content .quote p span#agent-quote::after {
    content: "”";
}

.card.flipped .card-content .shape-avatar-preview .constructed-shape {
    opacity: 0;
    transition: opacity 0s 0.25s;
}

.page.share .card:not(.flipped) .card-content .shape-avatar-preview .constructed-shape {
    opacity: 1;
    transition: opacity 0s 0.25s;
}

.page.share .card .card-content .shape-avatar-preview {
    max-width: 100%;
    flex-grow: 0;
    overflow: visible;
    margin: -1em;
}

.card-content .shape-avatar-preview .constructed-shape svg.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.page.share .card .card-content .intro {
    text-align: center;
    font-size: 0.85em;
    font-weight: 500;
}

.page.share .card .card-content .options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.page.share .card .card-content .split-border {
    width: 75%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.page.share .card .card-content .split-border:before,
.page.share .card .card-content .split-border:after {
    border-top: 0.5px solid;
    content: "";
    width: 50%;
}

.page.share .card .card-content .options .chat-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 500;
}
.page.share .card .card-content .options .chat-button:after {
    content: "or";
    color: #888888;
}


.page.share .card .card-content .card-header,
.page.share .card .card-content .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.page.share .card .card-content .card-header {
    align-items: center;
}

.page.share .card .card-content .card-footer {
    align-items: end;
}

.page.share .card .card-content .cell {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-family: "DM Serif Display", sans-serif;
    font-size: 0.6em;
    line-height: 1em;
}

.page.share .card .card-content .cell.left {
    justify-content: start;
}

.page.share .card .card-content .cell.center {
    justify-content: center;
    
}

.page.share .card .card-content .cell.right {
    justify-content: end;
}

.page.share .card .card-content .cell .icon-with-label {
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    text-transform: capitalize;
}

.page.share .card .card-content .cell.right .icon-with-label {
    align-items: end;
}

.page.share .card .card-content .cell .flip-button {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* colors */

.health-coach-bg .page.share .card .card-content .cell:not(.center) {
    color: var(--primary-health);
    stroke: var(--primary-health);
    fill: var(--primary-health);
}

.financial-adviser-bg .page.share .card .card-content .cell:not(.center) {
    color: var(--primary-financial);
    stroke: var(--primary-financial);
    fill: var(--primary-financial);
}

.sales-representative-bg .page.share .card .card-content .cell:not(.center),
.shape-avatar-preview {
    color: var(--primary-sales);
    stroke: var(--primary-sales);
    fill: var(--primary-sales);
}

.productivity-partner-bg .page.share .card .card-content .cell:not(.center) {
    color: var(--primary-productivity);
    stroke: var(--primary-productivity);
    fill: var(--primary-productivity);
}