body {
  background-color: #222222;
  color: #ffffffde;
  font-family: "IBM Plex Mono", monospace;
  font-size: medium;
}

.terminal {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* padding: 1em; */
}

.terminal .terminal-line {
  display: flex;
  flex-direction: row;
  /* border: 0.1px solid #717171; */
}

.terminal .terminal-line.prompt {
  border: 0.1px solid #717171;
}

.terminal .terminal-line .sender {
  display: flex;
  justify-content: center;
  width: 10dvw;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #717171;
}

.terminal .terminal-line .sender.console {
  background-color: #343434;
}

.terminal .terminal-line .sender.system {
  background-color: #343434;
}

.terminal .terminal-line .sender.error {
  background-color: #ff5e5e;
}

.terminal .terminal-line .sender.user {
  background-color: #2d3e3d;
}

.terminal .terminal-line .message {
  display: flex;
  width: 100%;
  padding: 1em;
}

.terminal .terminal-line .message textarea {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: #222222;
  color: #ffffffde;
  font-family: "IBM Plex Mono", monospace;
  font-size: medium;
  resize: none;
  overflow-y: none;
  scrollbar-width: 0;
}

.terminal .terminal-line .message textarea:focus {
  outline: none;
}

@media screen and (max-width: 600px)  {
  
  .terminal .terminal-line {
    flex-direction: column;
  }

  .terminal .terminal-line .sender {
    justify-content: unset;
    padding: 0 1em 0.25em;
    width: unset;
  }

}
